button {
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}

button.light {
    border: 1px solid var(--border-lightmode);
    background-color: #f4f6f9;
}

button.dark {
    background-color: #f4f6f9;
    color: #262a2b;
}

button:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

button.wide {
    width: 100%;
    display: block;
    letter-spacing: 0.15ch;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--accent-light);
    color: #fff8f8;
    font-size: 1.5rem;
}

button.medium {
    width: 45%;
}

button.fast {
    padding: 1rem 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    color: #f6eeee;
    font-weight: bold;
    height: 150px;
}

button.fast:nth-child(2) {
    background-color: #c7a149;
}

button.fast:nth-child(3) {
    background-color: #da714d;
}

button.fast:nth-child(4) {
    background-color: #5783cf;
}

button.fast:nth-child(5) {
    background-color: #8ab865;
}

button.round {
    border-radius: 50%;
    background-color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 2rem;
    color: inherit;
}

button.round:hover {
    filter: initial;
    transform: initial;
}

button.round.goal {
    color: #fff;
    background-color: var(--accent-light);
    font-size: 1rem;
    right: 1em;
    width: 70px;
    border-radius: 15px;
}

button.completed {
    background-color: var(--completed);
    text-shadow: 1px 1px 8px rgb(146, 136, 136);
}