button {
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    margin: 0;
    /* max-width: 150px; */
    cursor: pointer;
}

button.wide {
    width: 100%;
    display: block;
}