main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 1.125em;
    height: 100%;

    flex: 1 0;
    padding-bottom: 1em;
    position: relative;
}
  
.progress-bar {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    transition: all 4s;
}

.text {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text > span {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--secondary-text-dark);
}

.text.light > span {
    color: var(--secondary-text-light)
}

time {
    font-weight: 500;
}

.progress-timers, .options { 
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.progress-timers > span > small, .options > span > small {
    border-bottom: 1px solid #bab9b9;
}

.text > span > small, .progress-timers > span > small, .options > span > small {
    color: var(--accent-light);
}

.progress-timers > span, .options > span {
    padding: 0.5em 0;
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    border: 1px solid #ffeaea;
}

.progress-timers.light > span, .options.light > span {
    border: 1px solid var(--border-lightmode);
}

.options {
    gap: 1em;
}

.options > span {
    width: 50%;
}