*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 1em 0;
}

.container {
  border-radius: 5px;
  height: 500px;
  width: 400px;
}
