:root {
    font-family: 'Noto Sans', sans-serif;
    --background-color-dark: #343245;
    --background-color-light:#f7f7f7;
    --border-darkmode: #ffeaea;
    --border-lightmode: #8a7070;
    --datetime-bg-color-dark: #f4f6f9;
    --accent-light: #f06e42;
    --accent-light-bright: #ffa384 ;
    --datetime-color-dark: #261c0c;
}

.dark {
    background-color: var(--background-color-dark);
    color: #f4f6f9;
}

.light {
    background-color: var(--background-color-light);
    color: #262a2b;
}

small {
    font-size: 0.8rem;
}